@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');

body{
    margin:0px;
    font-family: 'Antic', sans-serif;
    
}
header{
    padding: 0.5rem;
    background-color: #F43F5E;
    color: white    ;
}
header nav ul{
    list-style: none;
    text-align: right;
    margin-bottom: 0.5;
}

header h1{
 display: block;
 font-size: 1.5rem;
 text-align: left;
 margin: 2rem auto;
}
header a{
    text-decoration: none;
    color: whitesmoke;
}
header nav ul li {
    display: inline-block;
    font-size: medium;
    margin: auto 0.5rem;
    font-weight: 600;       
}

.angles{
    display: block;
    margin: auto;
    margin: 0.5rem auto;
    padding: 0.7rem;
    border: 2px solid #F43F5E;
    border-radius: 10px;
}
label{
    display: block;
    margin: auto;
    text-align:center;
    color: #F43F5E;
    font-size: 20px;
    font-weight: 600;
}

h1{
    text-align: center;
    margin: 6rem auto 1rem;
}
h2{
    text-align: center;
    margin: 2rem auto;
}

#check-button{
    display: block;
    margin: 1rem auto;
    padding: 0.8rem 2rem;
    background-color: #F43F5E;
    color: whitesmoke;
    border: none;
    font-size: medium;
    border-radius: 10px;
}
#output-message{
    display: block;
    text-align: center;
    font-size: larger;
    font-weight: 600;
}

.base-hieght{
    display:block;
    margin: auto;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 10px;
    border: 2px solid #F43F5E;
}

.side-angle{
    display: block;
    margin: auto;
    padding: 1rem;
    margin: 1rem auto;
    border: 2px solid #F43F5E;
    border-radius:10px ;

}


h3{
    text-align: center;
}

.question-bank{
    text-align: center;
    margin: 1rem;
    font-weight: 600;
    padding: 1rem;
}
.question-bank  label{

color: black;
text-align: center;
display: inline;
font-size: medium;
font-weight: 400;
}
h4{
    text-align: center;
}
#submit-button{
    display: block;
    margin: 1rem auto 0rem;
    padding: 0.8rem 2rem;
    background-color: #F43F5E;
    color: whitesmoke;
    border: none;
    font-size: medium;
    border-radius: 10px;
    border: none;
}  
h4{
  font-style: bold;
  font-weight: 800;
}
hr{
    margin:  auto;
    color: black;
    max-width: 400px;

}
#quiz-result{
    margin: 0rem auto;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: large;
    font-weight: 600;
}

.footer {
    background-color: #F43F5E;
    text-align: center;
    color: white;
    padding: 1.5rem 1rem;
    /* border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem; */
    margin: 7px auto 0px;
    padding-bottom: 10px;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

.footer .link {
    color: white;
}

/* .list-non-bullet {
    list-style: none;
    margin: 0px;
    font-size: 20px;
}

.list-inline {
    display: inline;
    padding: auto 1rem;
}
.navigation .link {
    color: white;
}

.navigation .navpills {
    text-align: right;
}

.navigation .brandname {
    font-weight: bold;
}

.navigation .link-active {
    font-weight: bold;
}
 */
 .footer-quiz{
     position: static;
 }
 ul{
     list-style: none;
 }
 .list-inline {
    display: inline;
    padding: auto 1rem;
}
.link {
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin-bottom: 2rem;


}
.copyright{
    margin: 1rem auto;
}

#message{
    display: block;
    text-align: center;
    font-size: larger;
    font-weight: 600;

}
.link-active {
    font-weight: bold;
    font-size: larger;
}




















































